<!DOCTYPE html>
<html lang="ko">

<head>
  <!-- Theme Made By www.w3ii.com - No Copyright -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/lib/bootstrap.min.css">
  <script src="/lib/jquery-1.12.2.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <h1>YOUTRIP</h1>
  <style>
    body {
      background-color: #9dbad1;
    }

    h1 {
      font-size: 35px;
      font-family: 'Jeju Hallasan', cursive;
    }
  </style>
  <!-- 네비게이션 바ㅜ -->
  <style>
    body {
      margin: 0;
    }

    ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    ul.topnav li {
      float: left;
    }

    ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
      font-family: 'Jeju Hallasan', cursive;
    }

    ul.topnav li a:hover {
      background-color: #111;
    }

    ul.topnav li.icon {
      display: none;
    }

    @media screen and (max-width:680px) {
      ul.topnav li:not(:first-child) {
        display: none;
      }

      ul.topnav li.icon {
        float: right;
        display: inline-block;
      }
    }

    @media screen and (max-width:680px) {
      ul.topnav.responsive {
        position: relative;
      }

      ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      ul.topnav.responsive li {
        float: none;
        display: inline;
      }

      ul.topnav.responsive li a {
        display: block;
        text-align: left;
      }
    }
  </style>
</head>

<body>

  <ul class="topnav">
    <li><a class="active" href='./index'>Home</a></li>
    <li><a href='./about'>ABOUT</a></li>
    <li><a href='./search'>지도검색</a></li>
    <li><a href='./category'>카테고리검색</a></li>
    <li><a href='./neardes'>주변검색</a></li>
    <li><a href='./navi'>경로검색</a></li>
    <li class="icon">
      <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
    </li>
  </ul>


  <!-- 네비게이션 바ㅗ -->

  <script>
    function myFunction() {
      document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
    }
  </script>
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
    @import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

    .bg-1 {
      background-color: #AAAAAE;
      color: #ffffff;
    }

    .bg-2 {
      width: 100%;
      background-color: #93A7C1;
      color: #ffffff;
    }

    .bg-2 .left {
      width: 50%;
      float: left;
      background-color: #E1ACFB;
      color: #ffffff;
    }

    .bg-2 .right {
      width: 50%;
      float: right;
      background-color: #E1ACFB;
      color: #ffffff;
    }

    .bg-3 {
      background-color: #ffffff;
      color: #555555;
    }

    .container-fluid {
      padding-top: 30px;
      padding-bottom: 20px;
    }
  </style>
  </head>

  <body>

    <div class="container-fluid bg-1 text-center" ,
      style="text-align: center; font-size: 25px; font-family:'Nanum Pen Script',cursive;">
      <h3>YOUTRIP?</h3>
      <p>YOUTRIP은 YOUTUBE 동영상을 기반으로 한 여행 사전답사 웹사이트입니다. <br>
        여행지 정보와 여행지에 대한 동영상을 한번에 검색해보세요~</p>
    </div>

    <div class="container-fluid bg-2 text-center" ,
      style="text-align: center; font-size: 25px; font-family:'Nanum Pen Script',cursive;">
      <h3>DEVELOPER</h3>
      <img src="https://user-images.githubusercontent.com/59672611/80942796-ab2a5f80-8e20-11ea-83a2-5066756489fa.jpeg"
        width="600" height="350">
      <p>SOWON 20173046@changwon.ac.kr</p>
      <P>HYOKYEONG 20173054@changwon.ac.kr</P>
    </div>

  </body>

</html>