<!DOCTYPE html>
<html>
<head>
        <meta charset= "UTF-8">
        <title>회원가입하기</title>
</head>
<body>
        <nav id = "sign">
        <div class="container">
                <div class="register">
                <h1>회원가입</h1>
                
                <div class="label">아이디</div>
                <div class="form">
                        <input type="text" id="userId" placeholder="아이디입력해라"/>
                </div>
                <div class="label">비밀번호</div>
                <div class="form">
                        <input type="text" id="userPass" placeholder="비번입력해라"/>
                </div>
                <div class="label">이메일</div>
                <div class="form">
                        <input type="text" id="userEmail" placeholder="이메일입력해라"/>
                </div>
                <button id="signUp">가입하기</button>
                </div>
        </div>
        </nav>
        <style>
                #sign{
                        margin :0; 
                        padding : 0;
                }
                #sign .container{
                        width : 300px;
                        margin : 50px auto;
                        border : 1px solid #css;
                }
                #sign h1{
                        display: black;
                        background: #D2691E;
                        color: white;
                        font-size: 14px;
                        text-align: center;
                        height: 45px;
                        line-height: 40px;
                }
                #sign .label{
                        font-size:13px;
                        margin: 10px 0;
                        padding: 0 10px;
                        colorr: #999;
                }
                #sign .form{
                        padding:0 10px;
                }
                #sign .form input{
                        width: 100%;
                        height:35px;
                        padding: 0 15px;
                        box-sizing: border-box;
                        border-radius: 5px;
                        border: 1px solid #add;
                }
                #signup{
                        margin-top: 20px;
                        display: black;
                        width: 100%;
                        height: 45px;
                        background: #008B8B;
                        color: white;
                        border: none;
                        cursor: pointer;
                }
                
        </style>
</body>    
</html>
